<?php foreach ($this->getCats() as $group => $cats): ?>
	<optgroup label="<?php echo $group; ?>">
		<?php foreach ($cats as $key => $value): ?>
			<option value="<?php echo $key; ?>"><?php echo $value; ?></option>
		<?php endforeach; ?>
	</optgroup>
<?php endforeach; ?>