// Resource Library Styling
#manual-lookup {
	input[type="text"]::placeholder {
		color: $c-mgrey;
		font-weight: 400;
	}
	#help-nav {
		padding: 20px;
		.col {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			&:last-of-type {
				display: block;
				margin-top: 20px;
			}
		}
	}
	.resource-output {
		padding: 0 20px;
		.resource-list {
			li {
				line-height: 18px;
				margin-bottom: 10px;
				a {
					font-size: 13px;
				}
				img,
				.name {
					display: inline-block;
					vertical-align: middle;
				}
				img {
					margin-right: 8px;
				}
				.name {
					width: calc(100% - 40px);
				}
				.sku {
					margin-left: 5px;
				}
			}
			&.videos {
				li {
					span {
						display: inline-block;
						vertical-align: middle;
						position: relative;
						&:first-of-type {
							width: 100px;
							&:before {
								content: url('/skin/frontend/base/default/manuallookup/img/play.svg');
								position: absolute;
								left: 50%;
								top: 50%;
								@include transform(translate(-50%,-50%));
							}
						}
						&:last-of-type {
							width: calc(100% - 105px);
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
	.resource-dropdown {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		margin-left: 0;
		max-width: initial;
	}

	.resource-type {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		& + .video-container {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid $c-border;
		}
	}

	#resource-search-bar {
		border: 1px solid $c-input-border;
		border-radius: 3px;
		input,
		button {
			height: 36px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 0;
		}
		input {
			width: calc(100% - 100px);
		}
		button {
			width: 100px;
			background: $c-green;
			text-transform: uppercase;
			color: $c-white;
			&:hover {
				cursor: pointer;
			}
			&:after {
				color: $c-white;
				text-transform: lowercase;
			}
		}
	}

	#resource-form {
		padding-bottom: 10px;
	}

	#resource-count {
		strong {
			margin-right: 7.5px;
		}
		span {
			display: block;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 10px;
		}
	}

	#resource-form-bottom {
		button {
			vertical-align: top;
			height: 33px;
			display: inline-block;
			border-radius: 0;
			width: 100%;
			background: $c-green;
			text-transform: uppercase;
			color: $c-white;
			&:hover {
				cursor: pointer;
			}
			&:after {
				color: $c-white;
				text-transform: lowercase;
			}
		}
	}

	@include bp(min-width, $bp-xsmall) {
		#resource-count {
			span {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				& + span {
					border-left: 1px solid $c-text;
					padding-left: 6px;
					margin-left: 3px;
				}
			}
		}
	}
	@include bp(min-width, $bp-small) {
		.resource-dropdown {
			width: calc(50% - 55px);
			margin-right: 5px;
		}
		#help-nav .col:last-of-type q {
			font-size: 20px;
			line-height: 26px;
		}
		#resource-form-bottom {
			button {
				width: 100px;
			}
		}
	}
	@include bp(min-width, $bp-medium) {
		.resource-dropdown {
			margin-right: 10px;
			margin-bottom: 0;
			width: calc(50% - 60px);
		}
		.resource-type {
			width: 46%;
			magin-right: 3%;
		}
		#help-nav .col:last-of-type q {
			font-size: 18px;
		}
		#resource-form {
			padding-bottom: 0;
		}
	}
	@include bp(min-width, $bp-large) {
		#help-nav {
			.col {
				width: calc(50% - 15px);
				&:first-of-type {
					margin-right: 30px;
				}
				q {
					font-size: 26px;
					line-height: 32px;
				}
			}
		}
		#help-nav {
			.col:last-of-type {
				display: inline-block;
				margin-top: 0;
				img,
				q {
					display: inline-block;
					vertical-align: middle;
				}
				q {
					font-size: 18px;
					line-height: 24px;
					width: calc(100% - 200px);
				}
				img {
					width: 200px;
					padding-right: 20px;
				}
			}
		}
		.resource-type {
			width: 30%;
			margin-right: 3%;
		}
		#help-nav .col:last-of-type q {
			font-size: 22px;
			line-height: 28px;
		}
	}
	@inclue bp(min-width, $bp-xlarge) {
		#help-nav .col:last-of-type q {
			font-size: 24px;
			line-height: 32px;
		}
	}
}