<div class="box-customer">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-account"><?php echo $this->getFormTitle() ?: 'Default Form Title'; ?></h4>
		</div>
		<div class="fieldset">
			<?php echo $this->getFormHtml(); ?>
		</div>
	</div>
</div>