<?php
$resources = $this->getDataList();
$videos = $this->getVideoList();
?>
<?php if(!empty($resources) || !empty($videos)) : ?>
	<?php if(!empty($resources)): ?>
		<?php foreach($resources as $groupName => $group) : ?>
			<div class="resource-type">
				<h3><?php echo $groupName;?></h3>
				<ul class="resource-list">
					<?php foreach($group as $item) : ?>
						<li>
							<a target="_blank" href="/media/ufhs/manuals/<?php echo $item['filename'];?>">
								<img src="/skin/frontend/base/default/manuallookup/img/icons/<?php $v = explode(".",$item['filename']); echo end($v); ?>.png" />
								<span class="name"><?php echo $item['name'];?></span>
							</a>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
		<?php endforeach; ?>
	<?php endif; ?>
	<?php if(!empty($videos)): ?>
		<div class="video-container">
			<h3>Videos</h3>
			<ul class="resource-list videos">
				<?php foreach($videos as $video): ?>
					<li class="resource-type">
						<a data-modal-title="<?php $video['name']; ?>" target="_blank" href="https://www.youtube.com/embed/<?php echo $video['url'];?>?fs=0&modestbranding=1&rel=0&showinfo=0">
							<span class="icon-container">
								<img src="https://img.youtube.com/vi/<?php echo $video['url'];?>/1.jpg" />
							</span>
							<span class="title"><?php echo $video['name'];?></span>
						</a>
					</li>
				<?php endforeach;?>
			</ul>
		</div>
	<?php endif; ?>
<?php else : ?>
	<h2>That particular search hasn't returned anything.</h2>
<?php endif; ?>